@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
    $color-config: mat.get-color-config($theme);
    $primary-palette: map.get($color-config, 'primary');
    $accent-palette: map.get($color-config, 'accent');
    
    .sidenav{
        background-color: mat.get-color-from-palette($accent-palette, 900);
        color: mat.get-color-from-palette($accent-palette, A700);
    }
}

@mixin typography($theme) {
    $typography-config: mat.get-typography-config($theme);

    .sidenav {
        font-family: mat.font-family($typography-config);
    }
}

@mixin theme($theme) {
    $color-config: mat.get-color-config($theme);
    @if $color-config != null {
        @include color($theme);
    }

    $typography-config: mat.get-typography-config($theme);
    @if $typography-config != null {
        @include typography($theme);
    }
}