.strategy-container {
    width: 100%;
    background-color: transparent;
    border-right: 1px #555;
}

.radio-buttons {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    margin-right: 10px;
}

.super-cool-canvas {
    width: 1500px;
    height: 800px;
    border: 1px;
    border-style: solid; 
    border-color: #555;
    position: relative;
    overflow: nowrap;
}