<!--
    This is the scrapped sidenav that I created using Angular materials. While this would have worked,
    it would have taken more work in the long run to maintain and be a heavy weight component for next
    to no reason.

    <mat-drawer-container appAutoFullHeight id="side-bar" class="strategy-container" [hasBackdrop]="false">
    <mat-drawer #drawer mode="side">
        <mat-radio-group appCenterButtonVertical class="radio-buttons">

            <mat-radio-button value="false">A* Strategy</mat-radio-button>
            <mat-radio-button value="false">Djikstra's Algorithm</mat-radio-button>
        
        </mat-radio-group>
    </mat-drawer>

    <button mat-icon-button type="button" color="primary" (click)="drawer.toggle()" appCenterButtonVertical>
        <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
</mat-drawer-container>
-->

<div id="pfSidenav" class="sidenav" appAutoFullHeight>
    <mat-radio-group appCenterButtonVertical class="radio-buttons">
        <button mat-icon-button (click)="closeNav()">
            <mat-icon>close</mat-icon>
        </button>
        <mat-radio-button value="false">A* Strategy</mat-radio-button>
        <mat-radio-button value="false">Djikstra's Algorithm</mat-radio-button>
    </mat-radio-group>
</div>

<button mat-icon-button (click)="openNav()" appCenterButtonVertical>
    <mat-icon>keyboard_arrow_right</mat-icon>
</button>
