<mat-drawer-container class="strategy-container" autosize [hasBackdrop]="false">
    <mat-drawer #drawer class="strategy-sidenav" mode="side">
        <mat-radio-group class="radio-buttons">
            <mat-radio-button>A* Strategy</mat-radio-button>
            <mat-radio-button>Djikstra's Algorithm</mat-radio-button>
        </mat-radio-group>
    </mat-drawer>

    <button class="middle-button" mat-icon-button type="button" color="primary" (click)="drawer.toggle()">
        <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
</mat-drawer-container>
