/**
    SCSS relevant to scrapped sidebar.

.strategy-container {
    width: 100%;
    background-color: transparent;
    border-right: 1px #555;
}

.radio-buttons {
    display: flex;
    flex-direction: column;
    vertical-align: center;
    margin-right: 10px;
}
*/

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    margin-top: 64px;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #707070; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.25s; /* 0.5 second transition effect to slide in the sidenav */
}