/**
    SCSS relevant to scrapped sidebar.

.strategy-container {
    width: 100%;
    background-color: transparent;
    border-right: 1px #555;
}

.radio-buttons {
    display: flex;
    flex-direction: column;
    vertical-align: center;
    margin-right: 10px;
}
*/

.sidenav {
    height: 100%;
    width: 0;
    margin-top: 64px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.25s;
    box-shadow: 6px -2px 5px #0000008e;
}

.radio-buttons {
    display: flex;
    flex-direction: column;
    vertical-align: center;
    margin-right: 10px;
    white-space: nowrap;
}

.close-button {
    margin-left: 70%;
    margin-top: 20px;
}

.expand-button {
    margin-left: 20px;
    height: 56px;
    width: 56px;
}