.strategy-container {
    width: 400px;
    height: 100%;
    background-color: transparent;
    border-right: 1px #555;
}

.radio-buttons {
    display: flex;
    flex-direction: column;
    vertical-align: center;
    margin-right: 10px;
}

.middle-button {
}