$md-mygreenpalette: (
    50 : #e0fee0,
    100 : #b3fdb3,
    200 : #80fc80,
    300 : #4dfb4d,
    400 : #26fa26,
    500 : #00f900,
    600 : #00f800,
    700 : #00f700,
    800 : #00f600,
    900 : #008100,
    A100 : #ffffff,
    A200 : #e8ffe8,
    A400 : #b5ffb5,
    A700 : #9cff9c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #00000040,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-mycyanpalette: (
    50 : #e0fefe,
    100 : #b3fdfd,
    200 : #80fcfc,
    300 : #4dfbfb,
    400 : #26fafa,
    500 : #00f9f9,
    600 : #00f8f8,
    700 : #00f7f7,
    800 : #00f6f6,
    900 : #00f5f5,
    A100 : #ffffff,
    A200 : #e8ffff,
    A400 : #b5ffff,
    A700 : #9cffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-mywhitepalette: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-mygreypalette: (
    50 : #e8e8e8,
    100 : #c5c5c5,
    200 : #9f9f9f,
    300 : #787878,
    400 : #5b5b5b,
    500 : #3e3e3e,
    600 : #383838,
    700 : #303030,
    800 : #282828,
    900 : #1b1b1b,
    A100 : #f07575,
    A200 : #eb4747,
    A400 : #ff0000,
    A700 : #e60000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff40,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-mydarkgreenpalette: (
    50 : #e0f8e0,
    100 : #b3edb3,
    200 : #80e180,
    300 : #4dd44d,
    400 : #26cb26,
    500 : #00c200,
    600 : #00bc00,
    700 : #00b400,
    800 : #00ac00,
    900 : #009f00,
    A100 : #c9ffc9,
    A200 : #96ff96,
    A400 : #63ff63,
    A700 : #4aff4a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);