.canvas-container {
    display: flex;
    flex-direction: column;
    width: min-content;
    height: min-content;
    margin: 50px;
    background-color: #000000;
    border-radius: 50px;
}

.pf-canvas {
    width: 1200px;
    height: 600px;
    border-radius: 10px;
    border-width: 10px;
    margin: 50px;
    border-color: #ff0000;
    border-style: solid;
}

.divider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #00ff00;
    border-radius: 10px;
    width: min-content;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

.mode-widget {
    border-radius: 10px;
    margin-right: 25px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.type-widget {
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.drawButton {
    width: 75px;
}

.eraseButton {
    width: 75px;
}

.obstacle {
    font-size: 20px;
    color: #000000;
}

.start {
    font-size: 20px;
    color: #00ff00;
}

.end {
    font-size: 20px;
    color: #ff0000
}