.canvas-container {
    display: flex;
    flex-direction: column;
    width: min-content;
    height: min-content;
    margin: 50px;
    border-radius: 50px;
    box-shadow: 6px 6px 10px #0000008e;
}

.bottom-segment {
    height: auto;
    width: 1240px;
    border-radius: 0px 0px 50px 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

}

.canvas-window {
    width: 1200px;
    height: 600px;
    border-radius: 20px 20px 0px 0px;
    border-width: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 2px;
    border-style: solid;
}

.divider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 15px;
    width: min-content;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.mode-widget {
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.type-widget {
    border-radius: 15px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.drawButton {
    width: 75px;
}

.eraseButton {
    width: 75px;
}

.obstacle {
    font-size: 20px;
    color: #000000;
}

.start {
    font-size: 20px;
    color: #00ff00;
}

.end {
    font-size: 20px;
    color: #ff0000
}