.canvas-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 60%;
    margin: 2%;
    border-radius: 50px;
    box-shadow: 6px 6px 10px #0000008e;
}

.physical-canvas {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.bottom-segment {
    height: 10%;
    width: 95%;
    border-radius: 0px 0px 50px 50px;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
}

.canvas-window {
    width: 95%;
    height: 60%;
    border-radius: 20px 20px 0px 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2px;
}

.divider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 15px;
    width: min-content;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
}

.mode-widget {
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.type-widget {
    border-radius: 15px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.drawButton {
    width: 75px;
}

.eraseButton {
    width: 75px;
}

.obstacle {
    font-size: 20px;
    color: #000000;
}

.start {
    font-size: 20px;
    color: #00ff00;
}

.end {
    font-size: 20px;
    color: #ff0000
}