/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;
@use "./styles/themes/typography.scss";
@use 'src/app/side-bar/_side-bar_theme.scss' as side-bar;
@use 'src/app/pathfinding-pane/_pathfinding-pane_theme.scss' as pf-pane;
@use 'src/app/canvas/_canvas_theme.scss' as canvas;
@import "./styles/themes/light";
@import "./styles/themes/dark";

$current-theme: $my-dark-theme;

@media (prefers-color-scheme: light) {
    $current-theme: $my-light-theme;
}

@media (prefers-color-scheme: dark) {
    $current-theme: $my-dark-theme;
}

@include mat.core-theme($current-theme);
@include mat.all-component-themes($current-theme);
@include side-bar.theme($current-theme);
@include pf-pane.theme($current-theme);
@include canvas.theme($current-theme);

@include mat.core();

html, body { height: 100%; }
body { margin: 0; }
